In [37]:
import pandas as pd
import math
import numpy as np

In [62]:
test= pd.read_csv('./final_inference/lgbm_透天厝.csv')

In [146]:
# input = [303893.418, 2773228.853]
input = [169784.98804265473,2543493.999829864]
addr = '台南市東區青年路454號'
house_age = 33
far = 1.58
# '建物移轉總面積(坪)' : 3.484  '土地移轉總面積(坪)': 3.024 label :331437.79557039525 pred:307335.56736823893

In [147]:
compare = []
for idx,item in test.iterrows():
    tmpLoc = [float(item['x座標']),float(item['y座標'])]
    tmp = math.dist(tmpLoc, input)
    compare.append(tmp)

In [148]:
compare = np.array(compare)
idx = np.argpartition(compare,20)
print(idx)

[61292 61289 68231 ...     3     2     0]

In [149]:
output = test.iloc[idx[:20]]

In [177]:
output.iloc[5]['建物移轉總面積(坪)']

3.4838612664321573

In [150]:
output

,Unnamed: 0,city_nm2,town_nm,交易車位,小坪數物件,建物型態,主要用途,主要建材,有無管理組織,車位類別,...,population_density,house_price_index,unemployment_rate,econ_rate,lending_rate,land_tx_count,land_price,steel_id,prediction,label
61292,61292,14,172,0,0,4,191,6,0,2,...,4049.0,100.69,0.0383,0.0361,0.01638,129010.0,101.12,1132.96,305803.863048,331437.795570
61289,61289,14,172,0,0,4,191,6,0,2,...,8164.0,100.69,0.0383,0.0361,0.01638,129010.0,101.12,1132.96,307335.567368,331437.795570
68231,68231,14,172,0,0,4,191,6,0,2,...,13927.0,100.08,0.0342,0.0342,0.01627,129999.0,100.11,1345.96,299835.544047,368264.217300
68230,68230,14,172,0,0,4,191,6,0,2,...,8164.0,100.08,0.0342,0.0342,0.01627,129999.0,100.11,1345.96,299835.544047,368264.217300
68233,68233,14,172,0,0,4,191,6,0,2,...,4049.0,100.08,0.0342,0.0342,0.01627,129999.0,100.11,1345.96,297682.725384,368264.217300
61290,61290,14,172,0,0,4,191,6,0,2,...,13927.0,100.69,0.0383,0.0361,0.01638,129010.0,101.12,1132.96,307335.567368,331437.795570
61291,61291,14,172,0,0,4,191,6,0,2,...,6330.0,100.69,0.0383,0.0361,0.01638,129010.0,101.12,1132.96,305803.863048,331437.795570
68232,68232,14,172,0,0,4,191,6,0,2,...,6330.0,100.08,0.0342,0.0342,0.01627,129999.0,100.11,1345.96,297682.725384,368264.217300
82938,82938,14,172,0,0,4,588,6,0,2,...,4049.0,101.59,0.0369,0.0299,0.01622,142271.0,100.65,1121.05,263734.629217,273359.416378
71421,71421,14,172,0,0,4,588,6,0,2,...,13927.0,100.63,0.0381,0.0229,0.01622,128923.0,100.22,1214.95,252305.862907,242295.846335
82937,82937,14,172,0,0,4,588,6,0,2,...,6330.0,101.59,0.0369,0.0299,0.01622,142271.0,100.65,1121.05,263734.629217,273359.416378
82936,82936,14,172,0,0,4,588,6,0,2,...,13927.0,101.59,0.0369,0.0299,0.01622,142271.0,100.65,1121.05,263270.790784,273359.416378
82935,82935,14,172,0,0,4,588,6,0,2,...,8164.0,101.59,0.0369,0.0299,0.01622,142271.0,100.65,1121.05,263270.790784,273359.416378
71420,71420,14,172,0,0,4,588,6,0,2,...,8164.0,100.63,0.0381,0.0229,0.01622,128923.0,100.22,1214.95,252305.862907,242295.846335
92509,92509,14,172,0,0,4,588,6,0,2,...,8164.0,105.39,0.0402,0.0063,0.01363,139792.0,101.42,791.98,344002.777464,286487.402415
71422,71422,14,172,0,0,4,588,6,0,2,...,6330.0,100.63,0.0381,0.0229,0.01622,128923.0,100.22,1214.95,252999.219189,242295.846335
71423,71423,14,172,0,0,4,588,6,0,2,...,4049.0,100.63,0.0381,0.0229,0.01622,128923.0,100.22,1214.95,252999.219189,242295.846335
92510,92510,14,172,0,0,4,588,6,0,2,...,13927.0,105.39,0.0402,0.0063,0.01363,139792.0,101.42,791.98,344002.777464,286487.402415
92512,92512,14,172,0,0,4,588,6,0,2,...,4049.0,105.39,0.0402,0.0063,0.01363,139792.0,101.42,791.98,344201.262637,286487.402415
92511,92511,14,172,0,0,4,588,6,0,2,...,6330.0,105.39,0.0402,0.0063,0.01363,139792.0,101.42,791.98,344588.310931,286487.402415

In [155]:
compare_age = []
for idx,item in output.iterrows():
    tmpage = item['house_age']
    tmp = abs(tmpage - 33)
    compare_age.append(tmp)

In [156]:
compare_age = np.array(compare_age)
idx_age = np.argpartition(compare_age,10)
print(idx_age)

[ 1  5  2  3  4  0  6  7 13 16 15  9 12 11 14 10  8 17 18 19]

In [157]:
output_age = output.iloc[idx_age[:10]]

In [158]:
compare_far = []
for idx,item in output_age.iterrows():
    tmpage = item['far']
    tmp = abs(tmpage - 1.58)
    compare_far.append(tmp)

In [171]:
compare_far = np.array(compare_far)
idx_far = np.argpartition(compare_far,5)
print(idx_far)

[5 4 7 6 0 2 1 3 8 9]

In [172]:
output_far = output_age.iloc[idx_far[:5]]

In [173]:
sum = output_far['prediction'].mean()

In [174]:
sum

302861.74884639744

In [179]:
table = pd.DataFrame()

In [193]:
table['YIMBY_1000'] = output_far['n_c_1000']

In [194]:
table

,x座標,y座標,容積率,屋齡,土地移轉總面積(坪),建物移轉總面積(坪),population_density,主建物面積,預測價格,YIMBY_1000
61292,169784.988043,2.543494e+06,1.584118,33.232033,3.023834,3.483861,4049.0,4.679535,305803.863048,112.0
68233,169776.988039,2.543503e+06,1.584118,33.993155,3.023834,3.483861,4049.0,4.679535,297682.725384,112.0
68232,169776.988039,2.543503e+06,1.584118,33.993155,3.023834,3.483861,6330.0,4.679535,297682.725384,112.0
61291,169784.988043,2.543494e+06,1.584118,33.232033,3.023834,3.483861,6330.0,4.679535,305803.863048,112.0
61289,169784.988043,2.543494e+06,1.584118,33.232033,3.023834,3.483861,8164.0,4.679535,307335.567368,112.0